.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 15px 10px;
  padding: 15px;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  background-color: #D8E4FF;
}

.header h1:hover {
  color: #FBFBFF;
}

.header-links {
  display: flex;
  justify-content: space-around;
}

.add-move-link:hover {
  color: #FBFBFF;
}

.add-post-link:hover {
  color: #FBFBFF;
}

.logout-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
  width: 6%;
}

.user-toggle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}