.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  background: url(/images/squat.jpg);
  background-size: cover;
  color: white;
  /* height: 350px; */
}

h1 {
  margin: 0 auto;
}

.header h1:hover {
  color: black;
}

.header h3:hover {
  color: #FBFBFF;
}

.header p {
  font-size: 25px;
}

.header-links {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}

.add-move-link:hover {
  color: #FBFBFF;
}

.add-post-link:hover {
  color: #FBFBFF;
}

.logout-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.user-toggle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
}

.user-toggle p{
  color: white;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .header h1 {
      font-size: 50px;
    }

    .header-links h3 {
      font-size: 20px;
    }
}