.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 10px;
  text-align: center;
}

.login-button {
  margin: 0 auto;
  width: 10%;
}

.register-link:hover {
  color: #D8E4FF;
}